/* overall body */
body {
    font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
    color: #333;
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
}


h1 { font-size: clamp(2rem, 5vw, 3.5rem); color: #555; font-weight: 700; }
h2 { font-size: clamp(1.75rem, 4vw, 2.5rem); color: #555; font-weight: 700; }
h3 { font-size: clamp(1.5rem, 3vw, 2rem); color: #555; font-weight: 700; }
h4, h5 { color: #555; font-weight: 700; }

a { text-decoration: none; }

/* Top Bar */
.top-bar {
    background-color: #f5e2ca;
    padding: 0.8rem 0;
    font-size: 0.85rem;
    position: relative;
}

.top-bar .page-title {
    font-weight: 700;
    line-height: 1;
}

.back-link {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    text-decoration: underline;
}

/* Header & Nav */
.site-header {
    background-color: #f9b960eb;
    padding: 2rem clamp(1.5rem, 10vw, 12rem) 0;
}

/* Nav Item Styling */
.nav-item {
    color: #666;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
    width: fit-content;
}

.nav-item:hover { color: #000; }

/* Sliding Underline Effect */
.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #555;
    transition: width 0.3s ease-in-out;
}
.nav-item:hover::after,
.nav-item.active::after {
    width: 100%;
}

/* Navbar Toggle Icon  */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* buttons */
.btn {
    border-radius: 50px;
    padding: 0.6rem 2.5rem;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease;
}

.btn-blue { background-color: #6DAAB3; color: #272424; }
.btn-blue:hover { background-color: #58929b; color: #fff; }

.btn-white { background-color: #bcc1c3; color: #272727; }
.btn-white:hover { background-color: #dbe8ec; color: #333; }

.btn-outline { background-color: #DFF5E8; color: #555; }
.btn-outline:hover { background-color: #ccebd9; }

.btn-yellow { background-color: #f0b87dc8; color: #555; }
.btn-yellow:hover { background-color: #eddca8; }


/* sections */

/* Hero */
.hero {
    background-color: #f9bd6aeb;
    padding: 2rem 0 6rem 0;
}
.hero p.lead {
    max-width: 600px;
    margin: 0 auto 2.5rem auto; 
    color: #777;
    font-size: 1rem;
    padding: 0 1rem;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Gallery */
.gallery {
    background-color: #fff;
    padding: 2rem clamp(1rem, 8vw, 12.7rem);
}

.gallery .container-fluid {
    max-width: 1320px;
    margin: 0 auto;
}

.gallery .section-desc {
    max-width: 500px;
    margin: 0 auto;
    color: #999;
}
.gallery-item {
    height: 280px;
    overflow: hidden;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.gallery-item:hover img { transform: scale(1.05); }

.gallery .container2 {
    padding: 3rem 0;
    background-color: #fdb75cdc;
}
.gallery .container2 p {
    padding-left: clamp(1rem, 5vw, 6rem);
    padding-right: clamp(1rem, 5vw, 6rem);
}

/* Features */
.features {
    background-color: #fff;
    padding: 2rem clamp(1rem, 10vw, 16rem) 5rem clamp(1rem, 10vw, 16rem);
}
.feature-card {
    background-color: #f9e8b0dd;
    padding: 3rem 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.feature-card .icon-img { height: 40px; margin-bottom: 1.5rem; opacity: 0.6; }
.feature-card h5 { color: #777; margin: 0; font-weight: 500; }

/* Blog */
.blog {
    background-color: #c2ffe3;
    padding: 3rem 0;
    margin-inline: clamp(1rem, 8vw, 12.7rem);
    border-radius: 8px;
}
.blog-card {
    background-color: #fdb75cdc;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    height: 100%;
    transition: transform 0.3s;
}
.blog-card:hover { transform: translateY(-5px); }
.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.card-content .date { font-size: 0.75rem; color: #343131; display: block; margin-bottom: 0.5rem; }

.card-content p { font-size: 0.9rem; color: #666; line-height: 1.5; }

/* Newsletter */
.newsletter {
    padding: 5rem 0;
    background-color: #fff;
    margin-inline: clamp(1rem, 8vw, 12rem);
}
.newsletter-box {
    background-color: #f9e8b0dd;
    padding: 3rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 5px 5px 10px rgb(225, 220, 220);
}
.newsletter form button{
    background-color: #f0b87dc8;
    border-radius: 5px;
}
.newsletter form button:hover{
    background-color: #e58722c8;
   
}

.newsletter-box p { color: #888; margin-bottom: 2rem; }
.newsletter-box form {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
  
}
.newsletter-box input {
    border-radius: 4px;
    border: 1px solid #d6dce2;
    padding: 0.7rem 1rem;
    flex-grow: 1;
}

/* Footer */
.site-footer {
    background-color: #fdb75cdc;
    padding: 5rem 0 2rem 0;
}

.footer-desc {
    max-width: 500px;
    margin: 0 auto 2rem auto;
    color: #666;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 0 1rem;
}
.social-links { margin-bottom: 4rem; }
.social-links a { margin: 0 10px; }

.footer-bottom {
    background-color: #f5e2ca;
    border-top: 1px solid rgba(0,0,0,0.05);
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    text-align: center;
    color: #4a4040;
   padding: 20px;
}
.footer-bottom .links a { color: #4a4040; margin-left: 40px; }

/* resposiveness */
@media (max-width: 768px) {
   
    .hero, .promo, .features, .blog, .newsletter, .gallery, .site-footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .footer-bottom {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    .gallery-item { height: 220px; }
}